
<h1>Add an Item</h1>

<form action="/saveFood" method="post">
  <label for="brand">Brand</label>
  <input type="text" id="brand" name="brand" value="{{food.brand}}" />
  <div class="fieldError">{{errors.brand.message}}</div>
  <br />

  <label for="category">Category</label>
  <input type="text" id="category" name="category" value="{{food.category}}" />
  <div class="fieldError">{{errors.category.message}}</div>
  <br />

  <label for="quantity">Quantity</label>
  <input type="text" id="quantity" name="quantity" value="{{food.quantity}}" />
  <div class="fieldError">{{errors.quantity.message}}</div>
  <br />

  <label for="price">Price</label>
  <input type="text" id="price" name="price" value="{{food.price}}" />
  <div class="fieldError">{{errors.price.message}}</div>
  <br />

  <label for="available">Available</label>
  <input type="text" id="available" name="available" value="{{food.available}}" />
  <div class="fieldError">{{errors.available.message}}</div>
  <br />

  {{#if food._id}}
    <input type="hidden" name="id" value="{{food._id}}" />
  {{/if}}

  <button class="button-primary">Save Food</button>
</form>
