<h1>Add a Club</h1>

<form action="/saveClub" method="post">
  <label for="brand">Brand</label>
  <input type="text" id="brand" name="brand" value="{{club.brand}}" />
  <div class="fieldError">{{errors.brand.message}}</div>
  <br />

  <label for="category">Category</label>
  <input type="text" id="category" name="category" value="{{club.category}}" />
  <div class="fieldError">{{errors.category.message}}</div>
  <br />

  <label for="custom">Customized</label>
  <input type="text" id="custom" name="custom" value="{{club.custom}}" />
  <div class="fieldError">{{errors.custom.message}}</div>
  <br />

  <label for="price">Price</label>
  <input type="text" id="price" name="price" value="{{club.price}}" />
  <div class="fieldError">{{errors.price.message}}</div>
  <br />

  <label for="materials">Materials</label>
  <input type="text" id="materials" name="materials" value="{{club.materials}}" />
  <div class="fieldError">{{errors.materials.message}}</div>
  <br />

  {{#if club._id}}
    <input type="hidden" name="id" value="{{club._id}}" />
  {{/if}}

  <button class="button-primary">Save Club</button>
</form>
