
<h1>List Clubs</h1>


<table border="1">
  <tr>
    <th>
      Brand
    </th>
    <th>
      Category
    </th>
    <th>
      Custom
    </th>
    <th>
      Price
    </th>
    <th>
      Materials
    </th>
    <th></th>
  </tr>

  {{#clubs}}
  <tr>
    <td><a href="/addItem?id={{_id}}">{{brand}}</a></td>
    <td>{{category}}</td>
    <td>{{custom}}</td>
    <td>{{price}}</td>
    <td>{{materials}}</td>
    <td><a href="/deleteClub/?id={{_id}}">Delete</a></td>
  </tr>
  {{/clubs}}

</table>
