
<h1>List Items</h1>


<table border="1">
  <tr>
    <th>
      Brand
    </th>
    <th>
      Category
    </th>
    <th>
      Quantity
    </th>
    <th>
      Price
    </th>
    <th>
      Available
    </th>
    <th></th>
  </tr>

  {{#foods}}
  <tr>
    <td><a href="/addItem?id={{_id}}">{{brand}}</a></td>
    <td>{{category}}</td>
    <td>{{quantity}}</td>
    <td>{{price}}</td>
    <td>{{available}}</td>
    <td><a href="/deleteFood/?id={{_id}}">Delete</a></td>
  </tr>
  {{/foods}}

</table>
